[submodule "Resources/Scenes"]
	path = Resources/Scenes
	url = https://github.com/neithy/FitGL_resources.git
[submodule "prebuild"]
	path = prebuild
	url = https://github.com/neithy/FitGL_prebuild.git
